{% extends 'layout.html' %}

{% block style %}
<style>
    @font-face {
        src: url("../fonts/BMJUA_otf.otf");
        font-family: "Jua";
    }
    * {
        box-sizing: border-box;
        text-align: center;
        font-family: "Jua";
    }

    body {
       background-color: #F0E8D9;
    }

    .notice {
        border-radius: 10px;
        background-color: white; 
        width: 600px; 
        height: 50px;
        line-height: 50px;
        margin: 20px auto;
    }

    .grid {
        width: 690px;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .tdl {
        border-radius: 10px;
        background-color: white; 
        width: 200px; 
        margin: 0 auto;
        margin-bottom: 50px;
        overflow: hidden;
        float: left;
        margin-right: 15px;
        margin-left: 15px;
    }

    .info {
        padding: 5px;
    }

    h4 {
        margin-top: 0px;
        margin-bottom: 20px;
        font-size: 16px;
        color: #58595b;
    }
    
</style>
{% endblock %}

{% block content %}
    <h1>카페 딕셔너리</h1>

    <div>
        충무관과 광개토관에 있는 학교 카페!
    </div>

    <div style="text-align: center; margin-top: 20px;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d790.7797452561035!2d127.0734134273394!3d37.55226047980057!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca4d1b34586cd%3A0xcf7a284a1adf8472!2z7ISc7Jq47Yq567OE7IucIOq1sOyekOuPmSDshLjsooXrjIDtlZnqtZAg7Lap66y06rSA!5e0!3m2!1sko!2skr!4v1654501321365!5m2!1sko!2skr" width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d790.8024920787424!2d127.07292423474895!3d37.55011661235408!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca4daa73c863f%3A0xd6bd626e0463b230!2z7IS47KKF64yA7ZWZ6rWQIOq0keqwnO2GoOq0gA!5e0!3m2!1sko!2skr!4v1654498066096!5m2!1sko!2skr" width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <p>
        - 위치 : <br>
        충무관 1층 <br>
        광개토관 지하 1층
    </p>

    <p>-영업시간 : <br> 
        매일 : 08:00~19:00
    </p>
    <div>
        TIP
        <div class="notice">
            학교 카페 내에서 내부 인테리어가 가장 좋아 팀플하기 좋은 카페
        </div>
    </div>

    <h3>
        <커피 가격>
    </h3>

    <div class="grid">
        <div class="tdl">
            <img src="/imgs/cafe/dic/1" onerror="this.src='/imgs/errer/300x200'" class="image" width="200px" height="200px">
            <div class="info">
                <h4>
                    아메리카노
                </h4>
                <span>(HOT)2300원 (ICE)2600원</span>
            </div>
        </div>

        <div class="tdl">
            <img src="/imgs/cafe/dic/2" onerror="this.src='/imgs/errer/300x200'" class="image" width="200px" height="200px">
            <div class="info">
                <h4>
                    코리아노
                </h4>
                <span>4500원</span>
            </div>
        </div>

        <div class="tdl">
            <img src="/imgs/cafe/dic/3" onerror="this.src='/imgs/errer/300x200'" class="image" width="200px" height="200px">
            <div class="info">
                <h4>
                    아이슈페너
                </h4>
                <span>4500원</span>
            </div>
        </div>

    </div>

{% endblock %}

{% block script %}
<script src="">
    
</script>
{% endblock %}