{% extends 'layout.html' %}

{% block style %}
<style>
    
    * {
        box-sizing: border-box;
        text-align: center;
    }

    body {
       background-color: #F0E8D9;
    }

    .notice {
        border-radius: 10px;
        background-color: white; 
        width: 600px; 
        height: 50px;
        line-height: 50px;
        margin: 20px auto;
    }

    .grid {
        width: 690px;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .tdl {
        border-radius: 10px;
        background-color: white; 
        width: 200px; 
        margin: 0 auto;
        margin-bottom: 50px;
        overflow: hidden;
        float: left;
        margin-right: 15px;
        margin-left: 15px;
    }

    .info {
        padding: 5px;
    }

    h4 {
        margin-top: 0px;
        margin-bottom: 20px;
        font-size: 16px;
        color: #58595b;
    }
</style>
{% endblock %}

{% block content %}
    
    <h1>{{shop_info[0].name}}</h1>

    <div>
        {{shop_info[0].desc}}
    </div>

    <div style="text-align: center; margin-top: 20px;">
        <iframe src="{{shop_info[0].location}}" width="70%" height="250px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <p>
        - 위치 : {{shop_info[0].location_desc}}
    </p>

    <p>-영업시간 : <br> 
        {{shop_info[0].opening_hour}}
    </p>
    <div>
        알림, 공지
        <div class="notice">
            {{shop_info[0].notice}}
        </div>
    </div>
    <h3>
        <대표 음식>
    </h3>

    <div class="grid">
        {% for best in best_menu %}
        <div class="tdl">
            <img src="{{best.img_src}}" onerror="this.src='/imgs/errer/300x200'" class="image" width="200px" height="200px">
            <div class="info">
                <h4>
                    {{best.name}}
                </h4>
                <span>{{best.price}}원</span>
            <a onclick="show_menuinfo('{{best.img_src}}','{{best.name}}','{{best.price}}','{{best.desc}}')">상세보기</a>
            </div>
        </div>
        {% endfor %}  
    </div>
    <br>
    <div class="menu_list">
        <p>메뉴</p>
        {% for items in food_lists %}
        <div class="food_lists">
            <div class="list_preview" style="display: inline;">
                <span>{{items.name}}</span>
                <span>{{items.price}}원</span>
                <a onclick="show_menuinfo('{{items.img_src}}','{{items.name}}','{{items.price}}','{{items.desc}}')">상세보기</a>
            </div>
        </div>
        {% endfor %}
    </div>
    

{% endblock %}

{% block script %}
<script>
    
</script>
{% endblock %}