{% extends 'layout.html' %}

{% block style %}
<style>
    * {
        box-sizing: border-box;
        text-align: center;
        font-family: "Jua";
    }

    body {
       background-color: #F0E8D9;
    }

    .notice {
        border-radius: 10px;
        background-color: white; 
        width: 600px; 
        height: 50px;
        line-height: 50px;
        margin: 20px auto;
    }

    .grid {
        width: 690px;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .tdl {
        border-radius: 10px;
        background-color: white; 
        width: 200px; 
        margin: 0 auto;
        margin-bottom: 50px;
        overflow: hidden;
        float: left;
        margin-right: 15px;
        margin-left: 15px;
    }

    .info {
        padding: 5px;
    }

    h4 {
        margin-top: 0px;
        margin-bottom: 20px;
        font-size: 16px;
        color: #58595b;
    }
    
</style>
{% endblock %}

{% block content %}
    <h1>진관홀 지하1층 학생식당</h1>

    <div>
        숨겨진 학식맛집
    </div>

    <div style="text-align: center; margin-top: 20px;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d790.7944346168179!2d127.07274682699499!3d37.550876032783!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca4d012339f67%3A0x10b9ea79991ca27f!2z7ISc7Jq47Yq567OE7IucIOq1sOyekOuPmSDshLjsooXrjIDtlZnqtZAg7KeE6rSA7ZmA!5e0!3m2!1sko!2skr!4v1654507602318!5m2!1sko!2skr" width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <p>
        - 위치 : 진관홀 지하 1층
    </p>

    <p>-영업시간 : <br> 
        평일 : 09:30~15:30 <br>
        (주말, 공휴일 휴무)
    </p>
    <div>
        알림, 공지
        <div class="notice">
            {{notice}}
        </div>
    </div>

    <h3>
        <대표 음식>
    </h3>

    <div class="grid">
        <div class="tdl">
            <img src="/imgs/haksik/jin/1" onerror="this.src='/imgs/errer/300x200'" class="image" width="200px" height="200px">
            <div class="info">
                <h4>
                    크림치즈도리아
                </h4>
                <span>5000원</span>
            </div>
        </div>

        <div class="tdl">
            <img src="/imgs/haksik/jin/2" onerror="this.src='/imgs/errer/300x200'" class="image" width="200px" height="200px">
            <div class="info">
                <h4>
                    순쫄
                </h4>
                <span>4500원</span>
            </div>
        </div>

        <div class="tdl">
            <img src="/imgs/haksik/jin/3" onerror="this.src='/imgs/errer/300x200'" class="image" width="200px" height="200px">
            <div class="info">
                <h4>
                    김치찌게라면
                </h4>
                <span>3000원</span>
            </div>
        </div>

    </div>


{% endblock %}

{% block script %}
<script src="">
    
</script>
{% endblock %}